.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 999;
}


.overlay_active {
  display: flex;
}

.overlay__modal {
  position: relative;
  margin: auto;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 80px 150px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}
.overlay__modal_cart {
  padding: 60px 100px;
}
.overlay__button-close {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/close.svg);
  background-size: 24px;
  opacity: .4;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
}

@media (max-width: 1000px) {


  .overlay__modal {
    padding: 80px 75px;
  }  
  .overlay__modal_cart {
    padding: 60px 50px;
  }
}

@media (max-width: 640px) {
  .overlay__modal {
    padding: 50px 25px;
  }
  .overlay__modal_cart {
    padding: 40px 30px;
  }
}

@media (max-width: 520px) {
  .overlay__modal {
    padding: 30px 20px;
  }
  .overlay__button-close {
    top: 10px;
    right: 20px;
  }
}